/** COLOR sc */

:root {
    --bg-color-appBase: pink;
    --bg-color-main: #1a2d32;
    --bg-color-nav: #294045;
    --bg-color-mainFont: #6ac3d4;
    --font-mainFont: #6ac3d4;
    --font-footerLinks: #58cdcd;
    --font-headerLinks: #5cc8ff;
    --font-passiveFont: #ffffff;
    --hover-font-mainFont: #6ac3d455;
    --hover-font-footerLinks: #58cdcd55;
    --hover-font-headerLinks: #5cc8ff55;
    --hover-font-passiveFont: #ffffff55;
    --border-color-blog: #6ac3d4;
    --border-color-phones: black;
}


/** BACKGROUND **/

.theme-bg-appBase {
    background-color: var(--bg-color-appBase) !important;
}

.theme-bg-main {
    background-color: var(--bg-color-main) !important;
}

.theme-bg-nav {
    background-color: var(--bg-color-nav) !important;
}

{
    background-color: var(--bg-color-mainFont) !important;
}


/** TEXT **/

.theme-c-mainFont {
    color: var(--font-mainFont) !important;
}

.theme-c-footerLinks {
    color: var(--font-footerLinks) !important;
}

.theme-c-headerLinks {
    color: var(--font-headerLinks) !important;
}

.theme-c-passiveFont {
    color: var(--font-passiveFont) !important;
}

.theme-c-mainFont.theme-c-hover:hover {
    color: var(--hover-font-mainFont) !important;
}

.theme-c-footerLinks.theme-c-hover:hover {
    color: var(--hover-font-footerLinks) !important;
}

.theme-c-headerLinks.theme-c-hover:hover {
    color: var(--hover-font-headerLinks) !important;
}

.theme-c-headerLinks.theme-c-hover:hover {
    color: var(--hover-font-passiveFont) !important;
}


/** BORDERS **/

.theme-br-mainFont {
    border-color: var(--border-color-blog) !important;
}