.customTooltip {
  position:relative;
}

.customTooltip .customTooltipBottom {
  min-width: 80%;
  max-width: 110%;
  max-height: 500px;

  word-wrap: break-word;
  overflow: hidden;

  display:none;
  
  position:absolute;
  top:40px;
  left:50%;
  z-index:99999999;

  transform:translate(-50%, 0);
  padding:0.5rem;
  color:#EEEEEE;
  background-color:#666666;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
}

.customTooltip:hover .customTooltipBottom {
  display:block;
}

.customTooltip .customTooltipBottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.customTooltip .customTooltipBottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#666666;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

